@import "tailwindcss";

@theme {
    --color-primary: #6750A4;
    --color-secondary: #625B71;
    --color-tertiary: #7D5260;
    
    --color-surface: #FFFBFE;
    --color-background: #F4EFF4;
    --color-error: #B3261E;
}