---
import Button from "../ui/Button.astro"
---

<header class="fixed top-0 inset-x-0 z-50 bg-surface/80 backdrop-blur">
    <div class="max-w-7xl mx-auto px-4 h-16 flex items-center justify-between">
        <a href="/ConstrutoraSantana" class="text-lg font-semibold tracking-tight">
            Construtora Santana
        </a>
        
        <!-- Desktop nav -->
        <nav class="hidden md:flex gap-8 text-sm font-medium">
            <a href="/ConstrutoraSantana" class="px-4 py-2 rounded-xl transition-colors hover:text-primary hover:bg-primary/15">Inicio</a>
            <a href="/ConstrutoraSantana/projects" class="px-4 py-2 rounded-xl transition-colors hover:text-primary hover:bg-primary/15">Proyectos</a>
        </nav>
        
        <div class="flex items-center gap-2">
            <div class="hidden md:inline-flex">
                <Button variant="tonal">
                    Contacto
                </Button>
            </div>
            
            
            <!-- Mobile menu button -->
            <button
                id="mobile-menu-button"
                class="md:hidden py-2 px-3 inline-flex items-center justify-center bg-primary/10 p-2 rounded-xl  hover:bg-primary/25 transition-colors"
                aria-label="Abrir menu"
            >
                ☰
            </button>
        </div>
    </div>
    
    <!-- Mobile Menu -->
    <div 
        id="mobile-menu"
        class="md:hidden overflow-hidden max-h-0 transition-[max-height] duration-300 bg-gray-200/70"
    >
        <nav class="px-4 py-6 flex flex-col items-center justify-center gap-4 text-sm font-medium">
            <a href="/ConstrutoraSantana" class="hover:text-primary">
                Inicio
            </a>
            <a href="/ConstrutoraSantana/projects" class="hover:text-primary">
                Proyectos
            </a>
            
            <Button variant="tonal" class="mt-4 w-fit">
                Contacto
            </Button>
        </nav>
    </div>
</header>


<script is:inline type="module">
  function initMobileMenu() {
    const button = document.getElementById("mobile-menu-button");
    const menu = document.getElementById("mobile-menu");

    if (!button || !menu) return;

    button.addEventListener("click", () => {
      const isOpen = menu.style.maxHeight;

      if (isOpen) {
        menu.style.maxHeight = "";
      } else {
        menu.style.maxHeight = menu.scrollHeight + "px";
      }
    });
  }

  document.addEventListener("astro:page-load", initMobileMenu);
</script>

