---
import Card from "../ui/Card.astro";
---

<section class="py-24">
    <h2 class="text-3xl font-semibold tracking-tight">
        Proyectos destacados
    </h2>
    
    <div class="mt-12 grid md:grid-cols-3 gap-6">
        
    </div>
</section>