---
import Button from "../ui/Button.astro";
---

<section class="py-32">
    <div class="max-w-3xl">
        <h1 class="text-5xl font-semibold tracking-tight">
            Construimos espacios que perduran
        </h1>
        
        <p class="mt-6 text-lg text-gray-600">
            Proyectos residenciales y comerciales ejecutados con calidad, precisión y compromiso.
        </p>
        
        <div class="mt-10 flex gap-4">
            <Button>
                Ver Proyectos
            </Button>
            <Button variant="tonal">
                Contáctanos
            </Button>
        </div>
    </div>
</section>